<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object img-rounded" ng-src="{{ show.poster }}">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">
                        {{ show.name }}
                        <span class="pull-right text-danger"><span class="ion-heart"></span> {{ show.rating }}</span>
                    </h2>
                    <h4 ng-show="show.status === 'Continuing'">
                        <span class="ion-calendar"></span>
                        {{ show.airsDayOfWeek }} <em>{{ show.airsTime }}</em> on
                        {{ show.network }}
                    </h4>
                    <h4 ng-show="show.status === 'Ended'">
                        Status: <span class="text-danger">Ended</span>
                    </h4>

                    <p>{{ show.overview }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" ng-show="nextEpisode">
        The next episode starts {{ nextEpisode.firstAired | fromNow }}.
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="ion-film-marker"></span> Episodes
        </div>
        <div >
            <div class="episode media" ng-repeat="episode in show.episodes">
                <div class="pull-left">
                    <img class="media-object img-rounded" ng-src="{{ episode.img }}">
                </div>
                <div class="media-body">
                    <h4>{{ episode.episodeName }}
                        <small>Season {{ episode.season }}, Episode {{ episode.episodeNumber }}</small>
                    </h4>
                    <p>
                        <span class="ion-clock"></span>
                        {{ episode.firstAired | date: 'short'}}
                    </p>
                    <p>{{ episode.overview }}</p>
                </div>

                <div class="media-object" ng-repeat="link in episode.links" >
                    <h6>

                        <span class="ion-link"></span> <em><a href="{{ link.url }}">{{ link.host }}</a></em>

                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>